@font-face {
  font-family: 'Gilroy';
  src: 
  url('../fonts/Gilroy/Gilroy-Light.eot') format('eot'),
  url('../fonts/Gilroy/Gilroy-Light.ttf') format('ttf'),
  url('../fonts/Gilroy/Gilroy-Light.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Medium.eot') format('eot'),
  url('../fonts/Gilroy/Gilroy-Medium.ttf') format('ttf'),
  url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
  url('../fonts/Gilroy/Gilroy-Bold.eot') format('eot'),
  url('../fonts/Gilroy/Gilroy-Bold.ttf') format('ttf'),
  url('../fonts/Gilroy/Gilroy-Black.woff') format('woff'),
  url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
}

@font-face {
  font-family: 'PTMono';
  src: url('../fonts/PTMono/PTMono-Regular.ttf') format('ttf'),
}

body {
  padding: 0 48px;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: white;
}
.logo-block {
  display: flex;
  align-items: center;
  .logo {
    display: flex;
    &::after {
      content: "";
      height: 30px;
      width: 1px;
      background-color: #c4c4c4;
      display: flex;
      margin-left: 17px;
    }
  }
  .logo-text {
    margin-left: 17px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 0.92px;
    text-transform: lowercase;
    color: rgba(17, 17, 17,0.5);
  }
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: 24px;

  .header-link {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    padding: 5px 16px;
    text-decoration: none;
    color: #575757;
    transition:  all 0.3s ease-in-out;
    border-radius: 8px;

    &:hover {
      background-color: #f3f3f4;
    }
  }
}
.button-submit {
  padding: 12px 24px;
  border: 1px solid #ff9514;
  color: #ff9514;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 40px;
  background-color: white;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: #ff9514;
    color: white;
  }
  &:active {
    background-color: #ff9514;
  }
}
.drop-down {
  top: 60px;
  background-color: white;
  border: 1px solid #f3f3f4;
  border-radius: 15px;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2;
  padding: 16px 0;
  min-width: 243px;

  .dropdown-link {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #111;
    text-decoration: none;
    width: 86%;
    display: block;
    line-height: 150%;
    transition: all 0.4s ease-in-out;
    &:hover {
      background-color: #f1f1f1;
    }
    padding: 0 16px;
  }
}
@keyframes dropdown-animation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.drop-down.dropdown-active {
  display: flex;
  animation: dropdown-animation 0.5s ease-in-out;
}

