@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Light.eot") format("eot"), url("../fonts/Gilroy/Gilroy-Light.ttf") format("ttf"), url("../fonts/Gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Medium.eot") format("eot"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("ttf"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Bold.eot") format("eot"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("ttf"), url("../fonts/Gilroy/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'PTMono';
  src: url("../fonts/PTMono/PTMono-Regular.ttf") format("ttf"); }

body {
  padding: 0 48px; }

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 21px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
  background-color: white; }

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .logo-block .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .logo-block .logo::after {
      content: "";
      height: 30px;
      width: 1px;
      background-color: #c4c4c4;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 17px; }
  .logo-block .logo-text {
    margin-left: 17px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 0.92px;
    text-transform: lowercase;
    color: rgba(17, 17, 17, 0.5); }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: 24px; }
  .header-nav .header-link {
    font-family: 'Gilroy', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    padding: 5px 16px;
    text-decoration: none;
    color: #575757;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 8px; }
    .header-nav .header-link:hover {
      background-color: #f3f3f4; }

.button-submit {
  padding: 12px 24px;
  border: 1px solid #ff9514;
  color: #ff9514;
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 40px;
  background-color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .button-submit:hover {
    background-color: #ff9514;
    color: white; }
  .button-submit:active {
    background-color: #ff9514; }

.drop-down {
  top: 60px;
  background-color: white;
  border: 1px solid #f3f3f4;
  border-radius: 15px;
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 2;
  padding: 16px 0;
  min-width: 243px; }
  .drop-down .dropdown-link {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #111;
    text-decoration: none;
    width: 86%;
    display: block;
    line-height: 150%;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 0 16px; }
    .drop-down .dropdown-link:hover {
      background-color: #f1f1f1; }

@-webkit-keyframes dropdown-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes dropdown-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.drop-down.dropdown-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: dropdown-animation 0.5s ease-in-out;
  animation: dropdown-animation 0.5s ease-in-out; }
