.popup-shim {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.lock {
  overflow: hidden; }

@-webkit-keyframes fadePopupShim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadePopupShim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); } }

@keyframes fadeInDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); } }

.popup-shim.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadePopupShim 0.5s ease-in-out;
  animation: fadePopupShim 0.5s ease-in-out; }

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 48px;
  width: 100%;
  border-radius: 32px 32px 0 0;
  overflow: hidden;
  background-color: white; }

.popup.active {
  -webkit-animation: fadeInUp 0.5s ease-in-out;
  animation: fadeInUp 0.5s ease-in-out; }

.popup-close-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%; }
  .popup-close-div .popup-close {
    width: 48px;
    height: 48px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer; }
    .popup-close-div .popup-close img {
      margin-top: 5px; }

.popup-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
  margin: 0 auto; }
  .popup-main .popup-title {
    font-family: 'Gilroy';
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    color: #111;
    margin: 0;
    margin-bottom: 24px; }
  .popup-main .popup-description {
    font-family: 'Gilroy';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #575757;
    margin: 0;
    margin-bottom: 44px;
    max-width: 466px; }
  .popup-main .inputs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 32px; }
    .popup-main .inputs input {
      -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
      padding-left: 24px;
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #f3f3f4;
      color: #575757;
      font-size: 16px;
      font-family: 'Gilroy';
      font-weight: bold;
      border: none;
      outline: none;
      border-radius: 16px; }
      .popup-main .inputs input:focus {
        border: 1px solid #ff9514; }
  .popup-main .submit-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #f3f3f4;
    border-radius: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 26px 23px;
    margin-bottom: 32px; }
    .popup-main .submit-block .submit-text {
      max-width: 351px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: rgba(17, 17, 17, 0.5); }
      .popup-main .submit-block .submit-text a {
        text-decoration: none;
        color: #000; }
    .popup-main .submit-block .button-popup-submit {
      color: white;
      background-color: #ff9514;
      border-radius: 40px;
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      outline: none;
      cursor: pointer; }
  .popup-main .socials-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto; }
    .popup-main .socials-block .socials-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border: 2px solid #f3f3f4;
      border-radius: 50%; }
      .popup-main .socials-block .socials-link:first-of-type {
        margin-right: 16px; }

@media (max-width: 1024px) {
  .popup-main {
    width: 80%; } }

@media (max-width: 768px) {
  .popup-main {
    width: 100%; } }

@media (max-width: 576px) {
  .popup {
    padding: 20px;
    padding-bottom: 24px; }
  .popup-main .popup-description {
    max-width: 250px;
    margin-bottom: 32px; }
  .popup-main .popup-title {
    font-size: 22px; }
  .popup-main #popup-form .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0; }
    .popup-main #popup-form .inputs input {
      margin-bottom: 8px; }
  .popup-main .submit-block {
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 0;
    margin-bottom: 24px; }
    .popup-main .submit-block .button-popup-submit {
      width: 100%; }
    .popup-main .submit-block .submit-text {
      width: 80%;
      text-align: center;
      margin-bottom: 0; }
  .popup-close-div .popup-close {
    width: 28px;
    height: 28px; }
    .popup-close-div .popup-close img {
      margin-top: 3px; } }
